---

---

<div class="h-fit w-screen flex flex-col">
    <div class="flex pt-15 flex-col items-center text-center">
        <h1 class="text-5xl">Our Services</h1>
        <div class="line mt-3 w-50 h-[2px] bg-black"></div>
    </div>
    <div
        class="Services-Grid p-4 py-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
    >
        <div
            class="Services-Grid-Elem bg-white p-4 cursor-pointer rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:transform hover:scale-105"
        >
            <div class="relative bg-white flex items-center flex-col gap-2">
                <div class="flex w-full gap-4 px-4 items-center">
                    <img
                        src="/teeth-braces.webp"
                        class="max-w-14 block h-14 object-cover"
                        alt=""
                    />
                    <h1>Orthodontics</h1>
                </div>
                <p class="text-sm mb-6 font-light">
                    We offer a variety of orthodontic treatments to help you
                    achieve a straighter smile.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right block absolute bottom-2 right-2 h-6 w-6 text-blue-600 group-hover:translate-x-1 transition-transform duration-300"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </div>
        </div>
        <div
            class="Services-Grid-Elem bg-white p-4 cursor-pointer rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:transform hover:scale-105"
        >
            <div class="relative bg-white flex items-center flex-col gap-2">
                <div class="flex w-full gap-4 px-4 items-center">
                    <img
                        src="/teeth-braces.webp"
                        class="max-w-14 block h-14 object-cover"
                        alt=""
                    />
                    <h1>Orthodontics</h1>
                </div>
                <p class="text-sm mb-6 font-light">
                    We offer a variety of orthodontic treatments to help you
                    achieve a straighter smile.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right block absolute bottom-2 right-2 h-6 w-6 text-blue-600 group-hover:translate-x-1 transition-transform duration-300"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </div>
        </div>
        <div
            class="Services-Grid-Elem bg-white p-4 cursor-pointer rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:transform hover:scale-105"
        >
            <div class="relative bg-white flex items-center flex-col gap-2">
                <div class="flex w-full gap-4 px-4 items-center">
                    <img
                        src="/teeth-braces.webp"
                        class="max-w-14 block h-14 object-cover"
                        alt=""
                    />
                    <h1>Orthodontics</h1>
                </div>
                <p class="text-sm mb-6 font-light">
                    We offer a variety of orthodontic treatments to help you
                    achieve a straighter smile.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right block absolute bottom-2 right-2 h-6 w-6 text-blue-600 group-hover:translate-x-1 transition-transform duration-300"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </div>
        </div>
        <div
            class="Services-Grid-Elem bg-white p-4 cursor-pointer rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:transform hover:scale-105"
        >
            <div class="relative bg-white flex items-center flex-col gap-2">
                <div class="flex w-full gap-4 px-4 items-center">
                    <img
                        src="/teeth-braces.webp"
                        class="max-w-14 block h-14 object-cover"
                        alt=""
                    />
                    <h1>Orthodontics</h1>
                </div>
                <p class="text-sm mb-6 font-light">
                    We offer a variety of orthodontic treatments to help you
                    achieve a straighter smile.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right block absolute bottom-2 right-2 h-6 w-6 text-blue-600 group-hover:translate-x-1 transition-transform duration-300"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </div>
        </div>
        <div
            class="Services-Grid-Elem bg-white p-4 cursor-pointer rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:transform hover:scale-105"
        >
            <div class="relative bg-white flex items-center flex-col gap-2">
                <div class="flex w-full gap-4 px-4 items-center">
                    <img
                        src="/teeth-braces.webp"
                        class="max-w-14 block h-14 object-cover"
                        alt=""
                    />
                    <h1>Orthodontics</h1>
                </div>
                <p class="text-sm mb-6 font-light">
                    We offer a variety of orthodontic treatments to help you
                    achieve a straighter smile.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right block absolute bottom-2 right-2 h-6 w-6 text-blue-600 group-hover:translate-x-1 transition-transform duration-300"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </div>
        </div>
        <div
            class="Services-Grid-Elem bg-white p-4 cursor-pointer rounded-lg shadow-md overflow-hidden transition-transform duration-300 hover:transform hover:scale-105"
        >
            <div class="relative bg-white flex items-center flex-col gap-2">
                <div class="flex w-full gap-4 px-4 items-center">
                    <img
                        src="/teeth-braces.webp"
                        class="max-w-14 block h-14 object-cover"
                        alt=""
                    />
                    <h1>Orthodontics</h1>
                </div>
                <p class="text-sm mb-6 font-light">
                    We offer a variety of orthodontic treatments to help you
                    achieve a straighter smile.
                </p>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-arrow-right block absolute bottom-2 right-2 h-6 w-6 text-blue-600 group-hover:translate-x-1 transition-transform duration-300"
                    ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"
                    ></path></svg
                >
            </div>
        </div>
    </div>
</div>
